﻿@import url('https://fonts.googleapis.com/css?family=Calibri&display=swap');
body {
    font-family: Calibri;
    font-size: 14px;
    background-color: #fff;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Chat containers */
 /*Chat old Left side*/
#chat .container {
    border: 5px solid #bfbfbf;
    background-color: darkorange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-family: Calibri;
    font-weight: bold;
    color: white;
}

#chat .sender {
    font-size: 14px;
    font-family: Calibri;
    font-weight:normal;
    margin-top:10px;
    margin-bottom:0px;
}


/* Darker chat container */
#chat .darker {
    border-color: #fff;
    border: 5px solid #bfbfbf;
    background-color: #ff6666;
}

/* Clear floats */
#chat .container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
#chat .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    /* Style the right image */
    #chat .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

/* Style time text */
#chat .time-right {
    float: right;
    color: white;
}

/* Style time text */
#chat .time-left {
    float: left;
    color: white;
}