﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Jobsity Chat Bot</h1>
    <p>You can start making request to the following endpoint <a href="http://localhost:65445/api/ChatBot/GetStock?inputCode=aapl.us">http://localhost:65445/api/ChatBot/GetStock?inputCode=aapl.us</a></p>
</div>
