﻿@model IEnumerable<ChatJobsityTask.Models.Message>
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}

<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">
        <i class="fa fa-comments"></i>&nbsp; Challenge Chat
    </h2>

    <div class="row">
        <div class="col-md-12" id="chat">
            @if (Model != null)
            {
                @foreach (var message in Model.OrderBy(m => m.When))
                {
                    string containerClass, timePosition, textAlign, contcolor, offset;
                    if (userName == message.UserName)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-light";
                        textAlign = "text-right text-white";
                        contcolor = "bg-primary";
                        offset = "col-md-6 offset-md-6";
                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        contcolor = "bg-light";
                        offset = "";
                    }

                    <div class="row">
                        <div class="@offset">
                            <div class="@containerClass @contcolor">
                                <p class="@textAlign" style="font-weight:bold; font-size:16px;">@message.Text</p>
                                <p class="sender @textAlign">@message.UserName</p>
                                <span class="@timePosition">@message.When</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12">
            <form asp-action="Create"
                  data-ajax-begin="clearInputField" data-ajax-complete=""
                  data-ajax-failure="alert('Please Type a Message in the chat bar')" data-ajax-success="sendMessage"
                  data-ajax="true" data-ajax-method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="Text" class="form-control" id="messageText" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Press Here To Send Message" id="submitButton" class="btn btn-outline-primary btn-block" onclick='window.scrollTo(0,document.body.scrollHeight);'/>
                </div>
                <input type="hidden" value="@userName" name="username" />
            </form>
        </div>
    </div>

</div>
@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}


@section scripts {
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}
